//CATALOGO
.mainEventContainer {
    margin: 50px auto;
    border-radius: 25px;
    background-color: rgba(#000, .8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: fit-content;

    a {
        text-decoration: none;
        color: white;
        margin-top: 10px;
        border: 5px outset #222;
        background-color: #555;
        width: fit-content;
    }

    a:hover {

        background-color: #999;
        transition: background-color .25s;
    }

    a:active {
        border: 5px inset #222;
        background-color: #333;
    }

    .eventContainer1,
    .eventContainer2 {
        margin: 50px;
        display: flex;
        flex-direction: column;
        p {
            font-size: 18px;
            color: orange;
            text-align: center;
        }
        h1 {
            text-align: center;
        }

        .img-body {
            height: 250px;
        }
    }

    h1 {
        color: yellow;
    }

    .infoContainer {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contentCarousel {
        background-color: transparent;
        width: 550px;
        height: auto;
        margin-top: 10px;

        .slick-dots {
            background-color: transparent;
        }
    }

}

@media (max-width: 426px) {
    .mainEventContainer {
        flex-direction: column;
        margin: auto auto;
        margin-bottom: 30px;

        .eventContainer1,
        .eventContainer2 {
            width: 90%;

            .infoContainer {
                height: fit-content;
            }

            .contentCarousel {
                width: 100%;

                .img-body {}
            }
        }
    }
}
